.m-footer {
  position: absolute;
  z-index: -3;
  width: 100%;
  margin-top: -542px;
  padding-top: 642px;
  padding-bottom: 30px;
  background: $gradient;
  color: $white;
  @include media-down(m) {
    padding-left: 40px;
  }

  img {
      margin-bottom: 35px;
      height: 150px;
   }

  &__headings {
    margin-bottom: 30px;
    color: $white;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2.67px;
    @include media-down(m) {
      padding-top: 30px;
    }
  }

  .icons {
    margin-top: -20px;

    img {
      width: 22px;
      height: 22px;
      margin-left: 12px;
      margin-top: 10px;
      opacity: 40%;
    }

    img:nth-child(1) {
      margin-left: 0;
    }

    img:nth-child(4) {
      margin-right: 0;
    }

    img:nth-child(6) {
      margin-left: 0;
    }
  }

  .icons img:hover {
    opacity: 100%;
  }

  .pink {
    color: $pink-1;
    font-size: 16px;
    font-weight: bold;
  }

  &__paragraph {
    width: 203px;
    margin-bottom: 26px;
    color: rgba($white, .6);
  }

  span {
    color: #2dd071;
  }

  .column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
  }

  .spec {
    padding-top: 55px;
  }

  .social {
    padding-top: 30px;
  }

  &__nav {
    display: inline-block;
  }
}
