nav {
  top: 0;
  position: relative;
  height: 677px;
  background: $gradient;
  color: $white;
  font-size: .9em;
  text-transform: uppercase;
  font-weight: bold;

  .m-nav {
    display: flex;
    flex-wrap: wrap;
    height: 140px;

    @include media-up(l) {
      flex-wrap: wrap;

    }

    a:hover {
      text-decoration: underline;
    }

    &__logo {
      align-self: center;
      justify-self: flex-start;
      width: 57px;
      height: 61px;
      margin-left: 127px;

      img {
        width: auto;
        height: 100%;
      }

      a:hover{
        width: 10px;
      }
    }

    &__menu {
      display: none;
      @include media-up(l) {
        display: flex;
        flex-direction: row;
        margin: auto;
      }

      @include media-down(l) {
        display: flex;
        width: 100%;
        transition: .2s;
        transform: translate3d(-100%, 0, 0);
        z-index: 10;

        .showMenu & {
          transform: translate3d(0, 0, 0);
        }
      }

      a {
        padding-left: 50px;
      }
    }

    &__search {
      align-self: center;
      justify-self: flex-end;
      padding-right: 150px;
      @include media-down(xl) {
        padding-right: 50px;
      }

      a {
        padding-left: 15px;
        @include media-down(l) {
          font-size: .5em;
          padding-left: 10px;
        }
      }
    }
  }
}

.menu,
.hamburger {
  display: none;
}


@media (max-width: 992px) {

  .m-nav {
    &__menu,
    &__search {
      display: none;
    }
  }

  .menu,
  .hamburger {
    display: block;
  }

  body {
    display: block;
  }

  .hamburger {
    position: absolute;
    z-index: 100;
    top: 4rem;
    right: 2rem;
    padding: 4px;
    border-style: none;
    background: $gradient;
    color: $white;
    cursor: pointer;

    .closeIcon {
      display: none;
    }

  }

  .menu {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 4rem;
    background: $gradient;
    color: $white;
    list-style: none;
    transform: translateY(-100%);
    transition: transform .2s;
  }

  li {
    display: block;
    margin: 2rem 4rem;
    color: $white;
    font-size: 1.8rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }


  .menuIcon {

    .showMenu & {
      display: none;
    }
  }

  .closeIcon {
    .showMenu & {
      display: block;
    }
  }
}
