.m-posts {

  a {
    color: $gray-8;
  }

  &__left {
    width: 550px;
    height: 565px;
    margin-right: -30px;
    padding-left: 40px;
    background-color: $white;
    border: 1px solid rgba(151, 151, 151, .11);
    box-shadow: 0 20px 45px 0 rgba(0, 0, 0, .04);

    @include media-down(l) {
      height: 330px;
      margin: auto;
    }

    .fas {
      margin-top: 100px;
      @include media-down(l) {
        margin-top: 0;
      }
    }

    &--img {
      position: absolute;
      top: 25%;
      left: 70%;
      @include media-down(l) {
        display: none;
      }
    }

    p {
      font-size: 18px;
      color: $pink-1;
      padding-top: 100px;
    }

    h4 {
      width: 250px;
      padding-top: 100px;
      letter-spacing: 0;
      line-height: 52px;

      @include media-down(l) {
        padding-top: 20px;
      }
    }
  }

  &__right {
    margin: auto;
    padding-left: 60px;

    &-post {
      padding-left: 10px;
      @include media-down(l) {
        padding-left: 100px;
      }
      @include media-down(m) {
        padding-left: 10px;
      }

      p {
        color: $pink-1;
        font-weight: bold;
        padding-top: 15px;
      }

      h5 {
        width: 195px;
        letter-spacing: 0;
        line-height: 34px;
        padding-top: 5px;
      }

      &:first-child {
        padding-right: 45px;

      }


      &:nth-child(2) {
        border-left: 1px solid rgba(#979797, .2);
        padding-left: 40px;
      }

    &:last-child {
      padding-left: 40px;
        margin-left: 45px;
      border-left: 1px solid rgba(#979797, .2);

      }
    }
  }

  .fas {
    font-size: 25px;
    cursor: pointer;

    &:hover {
      padding-left: 10px;
    }
  }
}

