.m-video-box {
  display: flex;
  width: 97%;
  height: 750px;
  margin-top: 205px;
  background-color: $white;
  box-shadow: 0 20px 45px 0 rgba(0, 0, 0, .04);
  @include media-down(l) {
    width: 100%;
    height: 600px;
  }
  @include media-down(m) {
    flex-direction: column;
  }

  &__left {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include media-down(m) {
      height: 2000px;
    }
  }

  &__right {
    justify-content: flex-end;
    flex-direction: column;
    align-self: center;
    margin-left: 90px;
    @include media-down(m) {
      width: 100vw;
    }

    &--paragraph {
      width: 315px;
      padding-top: 4px;
      font-size: 14px;
    }

    &--headings {
      font-size: 22px;
      font-weight: bold;
      line-height: 34px;
    }

    span {
      background-color: $pink-1;
      color: $white;
     }
  }

  .fas {
    padding-right: 10px;
  }
}