@import '_base/fonts';
@import '_base/reboot';
@import '_base/type';
@import '_base/print';
@import '_base/grid';
@import '_vars/colors';

body {
 background-color: rgba($gray-1, .3);
}

body,
html {
 overflow-x: hidden;
}