.m-archive {
  position: absolute;
  top: 150px;
  background-color: $white;
  margin: auto;
  color: $gray-8;
  padding: 50px 0 150px 20%;
  width: 100%;
  height: 100%;

  a {
    color: $gray-8;
  }

  h2 {
    margin-bottom: 50px;
  }
}