.m-blog {
  position: absolute;
  top: 150px;
  background-color: $white;
  margin: auto;
  color: $gray-8;
  padding: 50px 0 150px 20%;
  height: 100%;

  h1 {
   margin-bottom: 30px;
  }

  h4 {
    margin-bottom: 30px;
  }

  a {
    color: $pink-1;
  }

  p {
    width: 80%;
    text-align: justify;
    padding: 10px;
  }

  .blog-post  {
    padding: 50px;
    width: 70%;
    margin-bottom: 20px;
    border: 1px solid rgba(151, 151, 151, .11);
    background-color: $white;
    box-shadow: 0 20px 45px 0 rgba(0, 0, 0, .04);

    .read-more-link {
      padding: 5px 20px;
      background-color: rgba($blue, .1);
      color: $blue;
      border-style: none;

      &:hover {
        background-color: rgba($blue, .8);
        color: $white;
      }
    }


    .posted-in {
      margin-top: 20px;
      text-align: right;
    }
  }
}