.m-single {
  position: absolute;
  top: 150px;
  background-color: $white;
  margin: auto;
  color: $gray-8;
  padding: 50px 0 150px 20%;
  width: 100%;

  &__post {
    padding: 50px;
    width: 70%;
    margin-bottom: 50px;
    border: 1px solid rgba(151, 151, 151, .11);
    background-color: $white;
    box-shadow: 0 20px 45px 0 rgba(0, 0, 0, .04);

    &-date {
      font-size: 14px;
      padding-bottom: 10px;
      color: $pink-1;
    }

    h1 {
      margin-bottom: 50px;
    }
  }

  &__sidebar {
    padding: 30px;
    position: absolute;
    right: 30px;
    top: 50px;
    z-index: 10;
    border: 1px solid rgba(151, 151, 151, .11);
    background-color: $white;
    box-shadow: 0 20px 45px 0 rgba(0, 0, 0, .04);
    width: 20%;
    @include media-down(l) {
      display: none;
    }
  }

  a {
    color: $gray-8;
  }

  h3 {
    font-size: 20px;
    padding-top: 20px;
  }

  input[type=submit] {
    padding: 5px 20px;
    background-color: rgba($blue, .1);
    color: $blue;
    border-style: none;
    border-radius: 0;

    &:hover {
      background-color: $blue;
      color: $white;
    }
  }
}
